<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="site-header" >
    <div class="text-container" style="font-size: 70px; font-weight: 000;">
      <span>p</span>
      <span>i</span>
      <span>c</span>
      <span>p</span>
      <span>a</span>
      <span>y</span>
    </div>
  </div>
</body>
</html>

