.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #b3b3b3 0%,
      #333333 29%,
      #615e5e 67%,
      #000000 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
    font-size: 10px;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  