<div class="container">
  <div>
    <input
      type="text"
      [(ngModel)]="filterDados"
      (keyup)="applyFilterDados()"
      placeholder="Filtrar"
    />
    <button>
      Adicionar
    </button>
  </div>

  <table>
    <tr>
      <th>Usuário</th>
      <th>Título</th>
      <th>Data</th>
      <th>Valor</th>
      <th>Pago</th>
      <th>Ações</th>
    </tr>
    <tr
      *ngFor="
        let row of filteredDados.slice(
          dadosIndex * dadosSize,
          dadosIndex * dadosSize + dadosSize
        )
      "
    >
      <td>{{ row.firstName }}</td>
      <td>{{ row.title }}</td>
      <td>{{ row.date | date : 'dd/MM/yyyy'}}</td>
      <td>{{ row.value | currency : 'BRL'}}</td>
      <td *ngIf="row.isPayed" style="color: green;">Pago</td>
      <td *ngIf="!row.isPayed" style="color: red;">Devendo</td>
      <td>icons</td>
    </tr>
  </table>
  <div>
    <button [disabled]="dadosIndex === 0" (click)="previousPageDados()">
      Anterior
    </button>
    <button [disabled]="dadosIndex >= maxPageIndexDados" (click)="nextPageDados()">
      Próximo
    </button>
  </div>
</div>